.bg-image {
 background-image: url("images/hero-bg.jpg");
 
 background-size: cover;

}

h1{
   font-family: "Dancing Script", cursive;
}

.h1{
   font-family: "Dancing Script", cursive;
}


.bg-image1 {
  background-image: url("images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 70%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.tesimonial{
  margin-bottom: 5rem;
}

.navbar-toggler {
  border: none;
  width: 50px;
  height: 50px;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px auto;
  transition: all 0.3s ease;
}


.navbar-toggler[aria-expanded="true"] .line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.navbar-toggler[aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.navbar-toggler {
  border-radius: 50%;
  transition: all 0.4s ease;
}

.navbar-toggler[aria-expanded="true"] {
  background: rgba(255,255,255,0.15);
}

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 5px !important;

  flex: 0 0 auto;

  transition: transform 0.3s ease !important;
}

.carousel-indicators button:hover {
  transform: scale(1.3);
  background-color: rgb(255, 200, 0);
}

.carousel-indicators {
  margin: 0 !important;
  right: 66% !important;
  top: 40rem !important;
}

.carouselInner {
  padding-left: 20rem !important;
  padding-top: 20rem;
}

.promotion {
  width: 10rem !important;
  height: 10rem !important;
  border-radius: 50%;
}

.promotion1 {
  transition: transform 0.3s ease !important;
}

.promotion1:hover {
  transform: scale(1.1);
}

.borderRadius {
  border-radius: 15px 15px 0 40px !important;
  background: rgb(233, 233, 233); 
}

.borderRadius img{
  height:11rem !important;
}

.panier1 {
  width: 2rem !important;
  height: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-next {
  right: 40%;
}

.carousel-control-prev {
  left: 40%;
}

.carousel-control-prev,
.carousel-control-next {
  top: 100%;
}

.socialMedia {
  transition: 0.3s ease !important;
}

.socialMedia:hover {
  color: rgb(255, 200, 0) !important;
}


@media (max-width: 1440px) {
   .carousel-indicators {
    right: 52% !important;
  }

  @media (max-width: 1024px) {
   .carousel-indicators {
    right: 80% !important;
  }

.carouselInner {
  padding-left: 5rem !important;
  padding-top: 20rem;
}

 .bg-image1 {
    min-height: 70vh !important;
  }
  .borderRadius img{
  height:10rem !important;
}
}
}
@media (max-width: 1024px) {
  .bg-image1 {
  background-image: url("images/hero-bg.jpg");
  background-size: auto;
  background-position: center;
  
}

.carousel-indicators {
  margin: 0 !important;
  right: 77% !important;
  top: 40rem !important;
}

.carouselInner {
  padding-left: 5rem !important;
  padding-top: 15rem;
}

  .borderRadius img{
  height:9rem !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 90%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
}

@media (max-width: 768px) {

  .bg-image1 {
  background-image: url("images/hero-bg.jpg");
  background-size: cover;
  background-repeat: repeat;
  transition: transform 0.2s ease;
  height: 50vh;
  
}

  .carouselInner {
    padding-left: 4rem !important;
    padding-top: 15%;
  }

  .bg-image1 {
    min-height: 57vh !important;
  }
  .carousel-indicators {
    margin: 0 !important;
    right: 75% !important;
    top: 30rem !important;
  }

  .navbar-expand-md .navbar-toggler {
    display: block !important;
  }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 95%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

  .carousel-control-next {
  right: 38%;
}

.carousel-control-prev {
  left: 38%;
}


  .badges, .desapearTitle{
    display: none !important;
  }

  .heighExpand{
    height: 10vh !important;
  }

.bg-image {
background-size: auto;
}

.cardPromo{
  flex-direction: column !important;
  text-align: center;
}
.testimonials .img{
  width: 40% !important;
}

body:has(#navbarSupportedContent.show) .bg-image1 {
  background-size: unset;
}

}

@media (max-width: 425px) {
.aboutUs{
  flex-direction: column !important;
  text-align: center;
  flex-direction: column-reverse !important;
}

.aboutUs img{
  width: 120% !important;
  margin-top: 2rem !important;
}

.colCenter{
  text-align: start;
}

.contactUs{
  flex-direction: column !important;
 gap: 1rem;
}

.contactUs iframe{
  width: 100% !important;
  height: 350px !important;

}

.testimonials .img{
  width: 75% !important;
}

.carousel-control-next {
  right: 35%;
}

.carousel-control-prev {
  left: 35%;
}

.carousel-indicators {
  right: 75% !important;
  top: 25rem !important;
}

.bg-image1 p{
  font-size: 1.2rem !important;
  width: 100% !important;
}

.carouselInner {
        padding-left: 1rem !important;
        padding-top: 15%;
    }
}
