.bg-image {
  background-image: url("images 2/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image1 {
  background-image: url("images 2/hero-bg.jpg");
  background-size: cover;
  
  background-repeat: repeat;
}